@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
  }
  body {
    @apply bg-medical-surface text-stone-800 font-sans antialiased;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hover-pause:hover, .hover-pause:active, .hover-pause:focus-within {
    animation-play-state: paused !important;
  }
}
